body {
    background-color: grey;
}
header {
    background-color: grey;
    color: springgreen;
    text-align: center;
}

main {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

.tile {
    height: 165px;
    width: 165px;
    border-radius: 50px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.score {
    color: lightsalmon;
}

.restart {
    background-color: springgreen;
    border-radius: 5px;
}




